/* Estilos para el formulario */
.users-form {
    max-width: 600px; /* Ajusta el valor según tus necesidades */
    margin: 0 auto; /* Esto centra el formulario en la pantalla */
    padding: 20px; /* Añade un espacio alrededor del formulario */
    background-color: #f7f7f7; /* Color de fondo opcional */
}

label {
    font-weight: bold;
}

label[for="tipo"],
label[for="mensaje"] {
    color: #15c815;
}

select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #35ea35;
    color: #0e0e0e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
