.product-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; /* Esto mantendrá la relación de aspecto y recortará la imagen si es necesario */
    transition: transform 0.2s;
}
.product-image:hover {
    transform: scale(1.1); /* Efecto de zoom  */
}

.product-item a.btn.btn-primary {
    color: rgb(8, 8, 8); 
    background-color: #35ea35; 
    border-color:#35ea35; 
}



.product-item a.h6 {
    font-size: 30px; 
    color: rgb(9, 9, 9);
}
.product-item h5 {
    font-size: 20px; 
}

